.btn {
  border: 1px solid #5cb85c;
  background-color: transparent;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  &.green {
    background: #1cc43c;
    border-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.18);
    &:hover {
      background-color: #19b136;
    }
  }
  &.grey {
    background: #E7E7E7;
    border-color: rgba(0, 0, 0, 0.1);
    color: #333;
    &:hover {
      border-color: #adadad;
    }
  }
  &.red {
    background: #e1265d;
    border-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.18);
    &:hover {
      background: #e1265d;
    }
  }
  &.white {
    background: #ffffff;
    border-color: #ccc;
    &:hover {
      background-color: #e6e6e6;
    }
  }
  &.fs10 {
    font-size: 10px;
  }
  &.fs12 {
    font-size: 12px;
  }
}
