h1,h2,h3,h4,h5,h6 {
  margin: 0 0 16px;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
h3 {
  font-size: 25px;
}
h2 {
  font-size: 30px;
}
.h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.h4 {
  font-weight: normal;
  font-size: 18px;
}

.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs12 {
  font-size: 12px;
}
.fs10 {
  font-size: 10px;
}
.fs21 {
  font-size: 21px;
}