.checkbox {
  input {
    display: none;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    .before {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 20px;
        transition: 0.6s;
        padding: 2px 2px;
        border-radius: 4px;
        background: #dfdfdf;
      }
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 2px;
        height: 16px;
        width: 16px;
        border-radius: 3px;
        background-color: #ffffff;
        transition: 0.3s;
      }
    }
    .text {
      border-bottom: 1px dashed;
    }
  }
  input:checked ~ label {
    .before {
      &:after {
        background: #1cc43c;
        transition: 0.6s;
      }
      &:before {
        left: 22px;
        transition: 0.3s;
      }
    }
  }
}

.inp {
  input {
    display: block;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
  textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    resize: vertical;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}
