
.bold {
  font-weight: 700;
}

.grey {
  color: #959595;
}
.black {
  color: #444444;
}
.blue {
  color: #3ba4e0;
}
.red {
  color: #e1265d;
}

.arrow {
  position: relative;
  width: 7px;
  height: 7px;
  display: inline-block;
  transform: rotate(-45deg);
  vertical-align: middle;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
  }
}

.absLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.search {
  position: relative;
  display: flex;
  .searchBtn {
    position: relative;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.18);
    text-transform: uppercase;
    border: none;
    padding: 7px 15px;
    line-height: 1.4;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    z-index: 15;
    width: 95px;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.07);
    background-color: #e1265d;
  }
  input {
    width: calc(100% - 95px);
    height: 34px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

.email-ic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 11px;
  border: 1px solid #000000;
  border-radius: 2px;
  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -1px;
    width: 8px;
    height: 1px;
    border-radius: 2px 0 15px 20px;
    background-color: #000000;
    transform: rotate(37deg);
  }
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    right: -1px;
    background-color: #000000;
    width: 8px;
    height: 1px;
    border-radius: 2px 0 20px 15px;
    transform: rotate(-37deg);
  }
}

.search-ic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  &:before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: -3px;
    border-radius: 0 3px 3px 0;
    width: 5px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #ffffff;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.ic {
  display: inline-block;
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
}

// отступы +
.mb2 {
  margin-bottom: 20px;
}
// отступы -

// flex +
.flex {
  display: flex;
}

.flex-fw {
  display: flex;
  flex-wrap: wrap;
}

.flex-js-fw {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-dc-ac-jb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-js-as-fw {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-js-ac-fw {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-jb-ac-fw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-je-ac-fw {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

// flex -

// display +
.db {
  display: block;
}
.dib {
  display: inline-block;
}
// display -


// margin-bottom +
.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.mb4 {
  margin-bottom: 40px;
}
.mb5 {
  margin-bottom: 50px;
}
.mb6 {
  margin-bottom: 60px;
}
.mb7 {
  margin-bottom: 70px;
}
.mb8 {
  margin-bottom: 80px;
}
.mb9 {
  margin-bottom: 90px;
}
.mb10 {
  margin-bottom: 100px;
}
// margin-bottom -
// margin-top +
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mt4 {
  margin-top: 40px;
}
.mt5 {
  margin-top: 50px;
}
.mt6 {
  margin-top: 60px;
}
.mt7 {
  margin-top: 70px;
}
.mt8 {
  margin-top: 80px;
}
.mt9 {
  margin-top: 90px;
}
.mt10 {
  margin-top: 100px;
}
// margin-top -

//margin-lef +
.ml1 {
  margin-left: 10px;
}
.ml1 {
  margin-left: 10px;
}
.ml2 {
  margin-left: 20px;
}
.ml3 {
  margin-left: 30px;
}
//margin-lef -

.width {
  width: 100%;
}

// возможно ненужное +
.pt10 {
  padding-top: 10px;
}

.pt-bt {
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.pb-bb {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.pd-mb {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-bottom: 15px;
}

.col-pd5 {
  padding-left: 5px;
  padding-right: 5px;
}
// возможно ненужное -

@media screen and (max-width: 768px) {
  // отступы +
  .mb2-mob {
    margin-bottom: 20px;
  }
  // отступы -
}