$lightBlack: #333333;
$blue: #16243B;
$grey: #959595;
$green: #1CC43C;
$greenHover: #19b136;
$red: #fc1652;
$pink: #e1265d;

@import "../../node_modules/font-awesome/css/font-awesome.min.css";

@import './import-scss/basics';
@import './import-scss/font';
@import './import-scss/spare';
@import './import-scss/input';
@import 'import-scss/button';

// основное +
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

label {
  margin: 0;
  line-height: 1;
}

button,
button:active,
button:focus {
  outline: none;
}

label {
  cursor: pointer;
}

a, button {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}


a {
  color: #1070A3;
  text-decoration: underline;
  line-height: 1.6;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

img {
  width: 100%;
}

.indent {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

// основное -
article {
  img {
    width: auto;
  }
}

.btn:focus {
  box-shadow: none;
}

// footer +
.footer {
  display: block;
  padding: 20px 0;
  background-color: #1CC43C;
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgb(0, 156, 30);
}

.inf-f {
  margin-bottom: 40px;
  width: 100%;
}

.bottom-f {
  .box-f {
    text-transform: lowercase;
  }
}

.box-f {
  flex-grow: 1;
  flex-basis: 250px;
}

// footer -

// header +
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.box-logo {
  width: 230px;
  margin-right: 10px;

  .email-h {
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: 100ms;
    color: #000000;
    margin-left: 20px;

    &:hover {
      border-bottom: none;
    }
  }
}

.logo {
  display: block;
}

.menuPage {
  background: #1cc43c;
  position: relative;
  border-radius: 0 0 4px 4px;
  padding: 0 20px 10px;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 360px;
  margin-right: 10px;

  .arrow {
    transform: rotate(-135deg);
    margin-right: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    background: #1cc43c;
    height: 20px;
    left: 0;
  }
}


.menuPage-box {
  width: 50%;
}

.menuPage-link {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgb(0, 156, 30);
  text-decoration: none;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

.headerFixed {
  position: relative;
  padding: 14px 0;
  background: #e9e9e9;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  transition: 0.6s;
}

header {
  height: 157px;

  &.fix {
    .headerFixed {
      position: fixed;
      top: 0;
      width: 100%;
      margin: auto;
      z-index: 16;
    }
  }
}

.headerFixed-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

.menu {
  position: relative;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.18);
  text-transform: uppercase;
  border: none;
  padding: 7px 28px 7px 7px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 15;
  width: 100%;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  background-color: #e1265d;

  .before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    width: 12px;
    height: 2px;
    background-color: #ffffff;

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
  }

  .arrow {
    position: absolute;
    top: 0;
    bottom: 5px;
    right: 20px;
    margin: auto;
  }
}

.search-h {
  position: relative;
  padding: 0 20px;
  width: 60%;

  .search {
    .searchBtn {
      padding: 7px 24px 8px 15px;
    }

    .search-ic {
      position: absolute;
      top: 0;
      bottom: 3px;
      margin: auto;
      margin-left: 4px;
    }
  }
}

.basket {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
}

.basket-img {
  width: 37px;
  margin-right: 20px;
}

.basket-text {
  .title {
    color: #fc1652;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 700;
  }

  .link {
    text-decoration: underline;
    color: #959595;
    line-height: 1.4;
    font-weight: 700;
    font-size: 12px;

    &:hover {
      text-decoration: none;
      color: #222222;

      span {
        text-decoration: none;
      }
    }

    span {
      display: inline-block;
      text-decoration: underline;
    }
  }
}

.region {
  margin-right: 10px;

  .open-popup {
    border-bottom: 1px dashed;
    color: #959595;

    &:hover {
      border: none;
      color: #222222;
    }
  }
}

.phone-h {
  .phone {
    display: block;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    border-bottom: 1px dashed;
    font-weight: bold;
    color: #000000;
    transition: 0s;
  }
}

.hamburger {
  display: none;
}

.wrapMenu {
  position: relative;
  z-index: 15;
  width: 230px;
  height: 34px;

  &:hover {
    .menu-open {
      display: inline-block;
    }
  }

  &.open {
    .menu-open {
      display: inline-block;
    }
  }

  &.openMenu {
    .menu-open {
      display: inline-block;
    }
  }
}

.wrapMenu-absolute {
  position: absolute;
  width: 100%;
}

.menu-open {
  position: relative;
  width: 300px;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
  margin-top: 17px;
  display: none;
}

.menu-li {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  transition: 0s;

  &:hover {
    background-color: #1cc43c;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .menu-link {
      color: #fff;
      text-shadow: 1px 1px 0 rgb(7, 165, 37);
      text-decoration: none;
    }

    .arrow {
      &:before {
        background-color: #fff;
      }

      &:after {
        background-color: #fff;
      }
    }

    .menu-hover {
      display: block;

      .menu-link {
        color: #000000;
        text-shadow: none;
      }

      .menu-li {
        &:hover {
          .menu-link {
            color: #ffffff;
            text-shadow: 1px 1px 0 #07a525;
          }

          .menu-hover-yet {
            .menu-link {
              color: #000000;
              text-shadow: none;
            }

            .menu-li {
              &:hover {
                .menu-link {
                  color: #ffffff;
                  text-shadow: 1px 1px 0 #07a525;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-hover {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  display: none;
  width: 100%;
  padding: 0;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border: 1px solid #e8e8e8;

  .menu-li {
    .menu-link {
      &.bold {
        .arrow {
          position: relative;
          right: auto;
          margin-left: 5px;
          transform: rotate(-45deg);
          top: -3px;
        }
      }
    }

    .arrow {
      &:before {
        background-color: #000000;
      }

      &:after {
        background-color: #000000;
      }
    }

    &:hover {
      .menu-hover-yet {
        display: block;

        .menu-li {
          .arrow {
            position: relative;
            right: auto;
            margin-left: 5px;
            transform: rotate(-45deg);
            top: -3px;

            &:before {
              background-color: #000000;
            }

            &:after {
              background-color: #000000;
            }
          }

          &:hover {
            .arrow {
              &:before {
                background-color: #fff;
              }

              &:after {
                background-color: #fff;
              }
            }
          }
        }
      }

      .arrow {
        &:before {
          background-color: #fff;
        }

        &:after {
          background-color: #fff;
        }
      }
    }
  }
}

.menu-hover-yet {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  display: none;
  width: 100%;
  padding: 0;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border: 1px solid #e8e8e8;

}

.menu-link {
  display: block;
  padding: 7px 0 7px 10px;
  color: #000000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.21);
  text-decoration: none;
  font-size: 13px;
  position: relative;
  transition: 0s;

  &.bold {
    text-transform: uppercase;
  }

  .arrow {
    position: absolute;
    right: 6px;
    transform: rotate(-135deg);
    top: 13px;

    &:before {
      background-color: #ff215e;
    }

    &:after {
      background-color: #ff215e;
    }
  }
}

.menu-link-img {
  display: block;
  padding: 5px 15px;
  box-sizing: border-box;
}

// header -

// content +
.content {
  min-height: calc(100vh - 381px);
}

// index +
.specialOffer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 10px 310px;
  border-bottom: 1px solid #eee;
}

.specialOffer-lef {
  width: 66%;
}

.specialOffer-rig {
  width: 34%;
  padding: 15px 0 0 15px;

  .wrap-h {
    text-align: center;
    margin-bottom: 15px;
    margin-left: -15px;
  }
}

.adv-img {
  display: inline-block;
  width: 63px;
  margin-right: 7px;

  img {
    object-fit: scale-down;
  }
}

.wrap-adv {
  padding: 17px 0;
}

.adv-text {
  display: inline-block;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.adv-link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

div.adv-link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.specialOffer-lef {
  .wrap-title {
    margin-bottom: 5px;
  }

  .title {
    font-size: 16px;
    padding: 4px 10px;
    position: relative;
    background: #1cc43c;
    text-shadow: 1px 1px 0 rgb(0, 156, 30);
    color: white;
    border-radius: 4px 0 0 4px;
    display: inline-block;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 10px solid #1cc43c;
      right: -10px;
      top: 0;
    }
  }
}

.wrap-offer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.offerCard-img {
  padding: 10px 0;
}

.offerCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 4px;
  position: relative;
  padding: 10px 0 5px;
  width: 33%;
  margin-right: 0.4%;
  height: 188px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }
}

.offerCard-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  width: 100%;
}

.offerCard-price-text {
  font-weight: 700;
  font-size: 13px;
}

.offerCard-price-link {
  background-color: #1cc43c;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: white;
  border-radius: 4px;
  text-decoration: underline;
  display: inline-block;
}

.offerCard-tit {
  color: #0385e1;
  text-decoration: underline;
  text-align: center;
  height: 40px;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }
}

////////////////
.wrap-category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category-box {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 15px;

  &:nth-child(2n+2) {
    margin-right: 0;
  }

  .wrap-h {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}

.category-link {
  display: inline-block;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  line-height: 1.2;

  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

.category-card {
  display: flex;
  margin-bottom: 15px;
}

.card {
  margin: 0 3%;
  text-align: center;
  width: 27%;
  display: inline-block;
  position: relative;
  border: none;

  &:hover {
    .card-link {
      text-decoration: none;
    }
  }
}

.card-link {
  color: #0385e1;
  text-decoration: underline;
  padding: 5px 0 10px;
}

.card-img {
  width: 87%;
  border-radius: 0;
  display: inline-block;
}

.wrap-tag {
  width: 100%;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
  color: #6d6d6d;
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #6d6d6d;
  }
}

.energyBox {
  padding: 10px 0 0;
  border-top: 1px solid #eee;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
  padding: 0 0 15px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.goods-link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  color: #000000;
  width: 23%;
  margin-right: 2%;

  &.mob {
    display: none;
  }

  .arrow {
    margin-right: 10px;
    transform: rotate(-135deg);

    &:before {
      background-color: #1cc43c;
    }

    &:after {
      background-color: #1cc43c;
    }
  }

  &:hover {
    border-bottom: 1px solid #1CC43C;
    color: #1CC43C;
    text-decoration: none;
  }
}

// index -

// card +
.breadCrumb {
  border: 1px solid #e8e8e8;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  list-style: none;
  display: block;
  margin-top: 10px;

  .breadCrumb-li {
    color: #7fbf7f;
    display: inline-block;
    margin-right: 6px;
  }
}

.breadCrumb-link {
  position: relative;
  color: #008C1B;
  font-size: 13px;
  text-decoration: underline;
  padding-right: 10px;

  .arrow {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 5px;
    height: 5px;
    transform: rotate(-135deg);

    &:before {
      background-color: #000000;
      height: 1px;
    }

    &:after {
      background-color: #000000;
      width: 1px;
    }
  }

  &:hover {
    text-decoration: none;
    color: #008C1B;
  }
}

.wrap-fancyBox {
  border-bottom: 1px solid #eee;
}

.fancyBox-lef {
  width: 36%;
}

.fancyBox-max {
  width: 100%;
  text-align: center;

  .fancybox {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 8px;
    width: 70%;
  }
}

.fancyBox-min {
  width: 100%;
  order: 2;
}

.fancybox {
  width: 15%;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 4px;
}

.maxCard-info {
  width: 64%;
  padding-left: 30px;
}

.maxCard-minInf {
  margin-bottom: 15px;

  .minInf-link {
    text-decoration: underline;
    color: #959595;

    &:hover {
      text-decoration: none;
      color: #222;
    }
  }
}

.productMin {
  .box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px;
  }
}

.print {
  color: #000000;
  line-height: 1.6;
  text-decoration: underline;

  &.btn {
    text-decoration: none;
    line-height: 1;
  }

  &:hover {
    text-decoration: none;
    color: #000000;
  }

  .fa {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.wrap-slider {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding: 15px 0;
  margin-top: 20px;

  .model {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -9px;
    text-transform: uppercase;
    color: #8d8d8d;
    background: white;
    padding: 0 7px;
    font-size: 12px;
  }
}

.owlModel-card {
  margin-bottom: 15px;
}

.modelCard-img {
  width: 60px;
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #ccc;
}

.modelCard-rig {
  width: calc(100% - 70px);
}

.modelCard-text {
  color: #8A8A8A;
  font-size: 12px;
}

.modelCard-link {
  color: #1070A3;
  font-size: 18px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #222;
  }
}

.wrap-maxCard {
  width: 100%;

  .pd-mb {
    margin-bottom: 30px;

    p {
      margin-bottom: 0;
    }
  }
}

.maxCard {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.owl-model {
  width: 600px;
  margin: auto;
}

.card-brand {
  .maxCard-btn {
    .btn {
      width: 100%;
    }
  }
}

.maxCard-btn {
  .btn {
    margin-right: 5px;

    .addHov-text {
      transform: translate(0, -55px);
      width: auto;
    }

    .fa-list-ul {
      &.fa-stack {
        width: auto;
        height: auto;
        line-height: normal;
      }

      &:after {
        content: "\f055";
        color: rgba(28, 196, 60, 0.78);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(68%, -67%);
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 10px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.wrap-fbText {
  margin: 10px 0;

  .fa {
    color: #e1265d;
    margin-right: 5px;
  }
}

.card-brand {
  .productMin {
    .box {
      display: block;
    }
  }

  .productMin-price {
    .price-text {
      display: inline-block;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;
      vertical-align: middle;
      margin-right: 25px;
    }

    .btn {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
    }
  }

  .property__content {
    &.active {
      border: 1px solid #dddddd;
      padding: 10px 20px 15px;
    }
  }

  .p_ct {
    display: none;

    &.active {
      display: block;
      margin-bottom: 15px;
    }
  }

  .p_l {
    padding: 7px 18px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    text-decoration: none;
    font-size: 14px;
    background: #f1f1f1;
    color: #222;
    cursor: pointer;

    .dotted {
      border-bottom: 1px dotted;
    }

    &.active {
      background: #fff;
      color: black;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 4px;
      }
    }
  }

  .property-link {
    .dotted {
      border-bottom: 1px dotted #B8B8B8;
    }
  }
}

.fastKons {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: block;
  .row {
    align-items: center;
  }

  .inp {
    display: flex;
    align-items: center;

    input {
      width: calc(100% - 131px);
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }

    button {
      border-radius: 0 4px 4px 0;
    }
  }
}

.wrap-dashed {
  .dashed {
    color: #1070A3;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #222222;
    }
  }
}

.property__content {
  display: none;

  &.active {
    display: block;
    margin-bottom: 15px;

    &.flex-fw {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.tableName {
  width: 250px;

  td {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 13px;
  }
}

.tableProperty-wrap {
  position: relative;
  width: calc(100% - 250px);
  overflow: auto;
}

.tableProperty {
  td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    min-width: 190px;
    font-size: 13px;

    &:nth-child(odd) {
      background-color: #f1f1f1;
    }

  }

  .name-link {
    font-size: 16px;
  }

  .name {
    .card {
      width: 100%;
      background-color: transparent;
      margin: 0;

      .card-link {
        font-weight: 700;
        color: #000000;
      }
    }

    .fa-list-ul {
      &.fa-stack {
        width: auto;
        height: auto;
        line-height: normal;
      }

      &:after {
        content: "\f056";
        color: rgba(223, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(68%, -67%);
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 10px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}

tr {
  &.hov {
    td {
      background-color: #f5f5f5;

      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
    }
  }
}

.property-link {
  padding: 7px 18px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  text-decoration: none;
  font-size: 14px;
  background: #f1f1f1;
  color: #222;
  cursor: pointer;

  .dotted {
    border-bottom: 1px dotted;
  }

  &.active {
    background: #fff;
    color: black;
  }
}

.name-link {
  text-decoration: underline;
  color: #000000;

  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

.wrap-table {
  position: relative;
  width: 100%;
}

.parameterMob-open-btn {

  .fa-balance-scale {
    &.fa-stack {
      width: auto;
      height: auto;
      line-height: normal;
    }

    &:after {
      content: "\f055";
      color: rgba(28, 196, 60, 0.78);
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(68%, -67%);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 10px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.card-btm {
  .fa-balance-scale {
    &.fa-stack {
      width: auto;
      height: auto;
      line-height: normal;
    }

    &:after {
      content: "\f056";
      color: rgba(223, 0, 0, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(68%, -67%);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 10px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.detailsTd {
  padding: 5px 0;

  .fa-balance-scale {
    &.fa-stack {
      width: auto;
      height: auto;
      line-height: normal;
    }

    &:after {
      content: "\f055";
      color: rgba(28, 196, 60, 0.78);
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(68%, -67%);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 10px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.tableArrow {
  position: absolute;
  top: 0;
  z-index: 12;
  bottom: 0;

  .fa-angle-right {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.11);
    font-size: 68px;
    top: 80px;
    bottom: 0;
    margin: auto;
    right: 5px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 70px;
    border-radius: 5px;
    transition: 200ms;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.tableNext {
  right: 0;
  width: 30px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%);
}

.tablePrev {
  left: 250px;
  width: 30px;

  .fa-angle-left {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.11);
    font-size: 68px;
    top: 80px;
    bottom: 0;
    margin: auto;
    left: 5px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 70px;
    border-radius: 5px;
    transition: 200ms;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.propertyTab {
  margin-bottom: 16px;
}

.pT {
  margin-bottom: 16px;
}

.table-description {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  width: 100%;
  overflow: auto;

  td {
    padding: 5px;
  }
}

.description {
  li {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.table-mainParameters {
  width: 100%;

  td {
    padding: 8px;
  }
}

.wrap-tip {
  display: inline-block;
  position: relative;
}

.tip {
  position: relative;
  color: #1070A3;
  width: 12px;
  height: 12px;
  line-height: 0;
  cursor: pointer;
  display: inline-block;

  &:hover {
    .tip-hov {
      display: block;
    }
  }
}

.tip-hov {
  display: none;
  width: 300px;
  background: #ffffff;
  line-height: 1.4;
  border-radius: 6px;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  transform: translate(0, -50%);
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.12);
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    transform: rotate(45deg);
    left: -9px;
    top: calc(50% - 8px);
  }
}

.tip-tit {
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  border-radius: 6px 6px 0 0;
  color: #000000;
}

.tip-text {
  padding: 10px;
  border-radius: 0 0 6px 6px;
  color: #000000;
}

.main-param {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
}

.modelPrice {
  line-height: 1.75;

  .grey {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #222222;
    }
  }
}

.modelRange {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
}

.wrap-modelRange {
  margin-bottom: 30px;
}

.earlier {
  margin-bottom: 60px;

  .card {
    display: inline-block;
    position: relative;
    padding: 10px 0 6px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin: 0;
    width: 100%;
  }

  .card-link {
    color: #000000;
    text-decoration: none;
  }

  .owl-stage {
    margin-bottom: 15px;
  }
}

.btnTab {
  display: none;

  &.active {
    display: inline-block;
  }
}

.propertyAccord {
  display: none;
}

.wrap-parameterMob {
  border-top: 1px solid #ddd;

  &:last-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }

  &.color {
    .parameterMob {
      background: #00b642;
    }

    .parameterMob-name {
      color: #ffffff;
    }

    .parameterMob-price {
      color: #ffffff;
    }

    .parameterMob-price {
      background: url(../img/arrowmodup.png) no-repeat right;
    }
  }
}

.parameterMob {
  background: #fff;
  width: 100%;
  padding: 15px;

  &:last-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
}

.parameterMob-name {
  color: #000;
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.parameterMob-price {
  color: #676767;
  background: url(../img/arrowmod.png) no-repeat right;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 49%;
}

.parameterMob-open {
  padding: 15px 0;
  display: none;
}

.parameterMob-open-btn {
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.parameterMob-open-table {
  table {
    width: 100%;
    font-size: 12px;

    td {
      padding: 10px;
      border-top: 1px solid #aaa;
      border-right: 1px solid #aaa;

      &:last-child {
        border-right: 0;
        border-bottom: 1px solid #aaa;
      }
    }

    tr {
      &:last-child {
        border-bottom: 1px solid #aaa;
      }
    }
  }
}

.more-param {
  margin: 15px 0 0;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-weight: normal;
  text-align: center;
  border-radius: 7px;
}

.analoguesBtn {
  .fa-balance-scale {
    display: none;
  }
}

.owl-compare {
  .special-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    background: #2cb72c;
    text-shadow: 0 1px 1px #14892a;
    color: #ffffff;
    padding: 5px 0;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.07);
    border-radius: 2px 2px 0 0;
  }

  .card {
    border: 1px solid #eee;
    margin: 0;
    width: 100%;
    padding: 30px 5px 5px;
    border-radius: 0;
  }
}

.slider-compare {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
  display: none;
}

.maxCard-text {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.addHov {
  position: relative;

  &:hover {
    .addHov-text {
      display: block;
      font-size: 13px;
    }
  }
}

.addHov-text {
  display: none;
  position: absolute;
  width: 180px;
  letter-spacing: -0.5px;
  padding: 2px;
  background-color: #000000;
  z-index: 11;
  color: #ffffff;
  transform: translate(-47%, -55px);
  border-radius: 3px;

  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    bottom: -5px;
    transform: rotate(45deg);
    background: #000;
    z-index: -1;
  }
}

.compareProducts {
  display: block;
  position: relative;
  white-space: nowrap;
}

.compareProducts-box {
  width: 33%;
  display: inline-block;
  padding: 0 15px;
  text-align: center;

  .card {
    width: 100%;
    margin: 0;
  }

  .card-decimal {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    color: gray;
  }

  .card-img {
    width: 40%;
  }

  .card-link {
    text-decoration: underline;
    color: #959595;
    white-space: normal;

    &:hover {
      text-decoration: none;
      color: #222222;
    }
  }
}

.compareProducts-title {
  border-bottom: 1px solid rgba(204, 204, 204, 0.09);
  padding: 8px 15px;
  background-color: #f6f5f3;
  position: sticky;
  left: 0;
}

.compareProducts-text {
  padding: 8px 0;
  white-space: nowrap;
}

.compareProducts-checkbox {
  padding: 15px;

  .checkbox {
    label {
      .text {
        margin-right: 75px;
      }
    }
  }
}

.p_ct {
  display: none;

  &.active {
    display: block;
  }
}

.spareParts {
  margin-bottom: 10px;
  padding: 5px 48px 5px 5px;
  background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}

.spareParts-img {
  width: 50px;
  margin-right: 5px;
}

.spareParts-text {
  width: calc(100% - 132px);

  p {
    margin: 0;
  }

  a {
    color: #1070A3;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #222222;
    }
  }
}

.spareParts-price {
  margin-right: 5px;
  font-weight: 700;
}

.spareParts-box {
  display: inline-block;
  vertical-align: middle;
}

.spareParts-btn.spareParts-box {
  position: absolute;
  top: calc(50% - 20px);
  right: 10px;
}

.table-hover {
  height: 530px;
  margin-bottom: 10px;
  overflow: hidden;

  &.open {
    height: auto;
  }
}

// card +

// basket +
.basket-lef-bord {
  border: 1px solid #f6f6f6;
  padding: 10px 20px;
  margin-bottom: 20px;

  h3 {
    .fs13 {
      margin-right: 5px;
    }
  }
}

.owl-basket {
  .card {
    width: 100%;
  }

  .card-img {
    width: 29%;
  }

  .card-price {
    margin-bottom: 10px;
  }

  button {
    position: relative;
    z-index: 1;
  }
}

.form-basket-line {
  margin-bottom: 15px;

  .basket-line-name {
    text-align: right;
    display: block;
    top: 7px;
    position: relative;
  }

  &.hidden {
    display: none;

    &.open {
      display: flex;
    }
  }

  .inp {
    .inp-help {
      margin: 0;
      padding: 5px 0 0 0;
      font-size: 12px;
      color: #8a8a8a;
    }
  }
}

.basket-divTable {
  .divTable-title {
    border-top: 1px solid #eaeaea;
    display: flex;
  }

  .divTable-card {
    display: flex;
    align-items: center;
    border-top: 1px solid #eaeaea;
  }

  .divTable-box {
    padding: 8px;
    width: 90px;
    text-align: right;

    .fa-times {
      cursor: pointer;
    }

    &:nth-child(1) {
      width: 116px;
      text-align: center;
    }

    &:nth-child(3) {
      width: 140px;
      text-align: center;
    }

    &:nth-child(2) {
      width: calc(100% - 433px);
      text-align: left;
    }

    &:nth-child(6) {
      width: 27px;
    }
  }

  .divTable-name {
    a {
      display: block;
      color: #000000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .cod {
      font-size: 12px;
      color: #333333;
    }
  }
}

.numberInp {
  display: inline-flex;

  input {
    background-color: #eee;
    width: 60px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 34px;
    text-align: center;
  }

  .btnLef {
    border-right: 0;
    border-radius: 4px 0 0 4px;
    color: #e1265d;
  }

  .btnRig {
    border-left: 0;
    border-radius: 0 4px 4px 0;
    color: #1cc43c;
  }

  .btn {
    padding: 6px 10px;
  }

}

.delivery-box {
  margin-bottom: 20px;

  .inp {
    width: 184px;
    display: inline-block;
    margin-left: 10px;
  }
}

.radio-inline {
  input {
    vertical-align: middle;
    margin-right: 5px;
  }

  .fon {
    background-color: #5bc0de;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    color: #ffffff;
    padding: 4px 5px;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
  }

  .db {
    padding-left: 20px;
    margin-top: 10px;
  }
}

.basket-rig {
  position: sticky;
  top: 80px;
  background: #f6f6f6;
  padding: 20px;
  box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.05);
}

.basket-rig-title {
  font-size: 23px;
  text-align: center;
  color: rgba(0, 0, 0, 0.44);
  text-shadow: 1px 1px 0 rgb(255, 255, 255);
  font-weight: 700;
  margin-bottom: 15px;
}

.basketCard {
  display: flex;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.58);
  align-items: center;
  padding: 5px 8px;
  border-top: 1px solid #e3e3e3;

  .basketCard-img {
    width: 55px;
    margin-right: 10px;
  }

  .basketCard-price {
    width: 70px;
    text-align: right;
  }

  .basketCard-text {
    width: calc(100% - 130px);
  }
}

.basket-rig-prise {
  border-top: 1px solid #e3e3e3;
  padding: 8px;
  text-align: right;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.58);

  .bold {
    margin-left: 20px;
  }
}

.form-none {
  padding: 10px 10px 10px 30px;
  box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.05);
  background-color: #f2dede;

  li {
    line-height: 1.6;
  }
}

.wrap-basket1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.privacy-scrollable {
  background: #f3f3f3;
  padding: 15px 20px;
}

.privacy {
  margin-bottom: 25px;
}

.dashed-link {
  color: #959595;
  border-bottom: 1px dashed;
  margin-bottom: 10px;

  &:hover {
    color: #222222;
    text-decoration: none;
  }
}

// basket -

// cataloge +
.wrap-sidebar-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sidebar {
  z-index: 2;
  padding: 10px;
  line-height: 22px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 280px;
  margin-right: 20px;
  position: absolute;
  top: 10px;
  left: 0;
}

input {
  vertical-align: middle;
}

.filter-option {
  position: relative;
  border-bottom: 1px dashed #DDD;
  padding: 8px 0;

  &.open {
    .fa-angle-right {
      transform: rotate(90deg);
    }
  }

  .option-name {
    cursor: pointer;

    .fa-angle-right {
      margin-right: 5px;
      transition: 0.1s;
    }

    .text {
      border-bottom: 1px dashed #818181;
      font-size: 13px;
    }
  }

  .filter-open {
    display: none;
    font-size: 0;
    margin: 10px 0;

    .checkboxLabel {
      width: 50%;
      vertical-align: top;
      margin-bottom: 10px;
      font-size: 12px;
    }

    .checkboxLabel-link {
      color: #000000;
      text-decoration: underline;

      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.wrap-slider-range {
  margin-bottom: 10px;

  .ui-widget.ui-widget-content {
    height: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #eee;
    color: #333;
    box-shadow: 0 1px 0 #999 inset;
    margin: 0 7px;
  }

  .ui-slider .ui-slider-range {
    background: rgb(92, 184, 92);
    border: 0;
    border-radius: 0;
  }

  .ui-slider-handle {
    background: #f6f6f6;
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -4px;
  }

  .slider-range {
    input {
      font-size: 14px;
      display: inline-block;
      width: 110px;
      height: 34px;
      padding: 6px 12px;
      line-height: 1.4;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    label {
      font-size: 14px;
    }
  }
}

.sort {
  width: 100%;
  h3 {
    display: inline-block;
    margin-left: 300px;
  }
  .subtextH3 {
    margin-left: 300px;
  }
  .breadCrumb {
    margin-left: 300px;
  }
  .subcategories-card {
    margin-left: 300px;
  }
  .category-tag {
    margin-left: 300px;
  }
  .fastKons {
    margin-left: 300px;
  }
  .sortNav {
    margin-left: 300px;
  }
  .sort-card {
    margin-left: 300px;
  }
  .wrap-pagination {
    margin-left: 300px;
  }
  .category-description {
    margin-left: 300px;
  }
}

.slider-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category-description {
  margin-bottom: 40px;
  h3 {
    margin-left: 0;
  }
  a {
    color: #1070A3;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #1070A3;
    }
  }
  img {
    float: right;
    width: auto;
  }
  table {
    img {
      float: none;
    }
  }
}

.sortNav-btn {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;

  .sortNav-btn-click {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #aaa;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    color: #959595;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      border-color: transparent;
      background: #aaa;
      color: #fff;
    }

    &:hover {
      border-color: transparent;
      background: #aaa;
      color: #fff;
    }
  }
}

.sortNav {
  padding: 5px;
  margin-bottom: 10px;
  background: #F3F3F3;
  border-radius: 3px;
  display: block;
}

.sidebarBtn-click {
  display: none;
}

.sortNav-rig {
  margin-right: 10px;
  float: right;
  position: relative;
  top: 5px;
}

.sortNav-prise {
  display: inline-block;
  vertical-align: middle;

  .dashed {
    color: #959595;
    text-decoration: none;
    border-bottom: 1px dashed;
    margin-right: 10px;

    &:hover {
      color: #000000;
      border-bottom: 0;
    }

    &.active {
      color: #000000;
    }
  }
}

.sort-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5% ;
  .card {
    position: relative;
    padding: 25px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0.5% 20px 0.5%;
    width: 32.3%;
    text-align: left;
    height: 500px;

    &:hover {
      border-color: #999;
    }
    .cardBtn {
      position: absolute;
      bottom: 10px;
      width: calc(100% - 20px);
      z-index: 1;
    }
    .card-img {
      width: 130px;
      display: block;
      margin: auto;
    }
    .card-link {
      margin-bottom: 10px;
      color: #0385e1;
      display: block;
      padding-bottom: 0;
      transition: 0s;
    }
    .card-model-yet {
      display: none;
    }
    .absLink {
      z-index: 0;
    }
  }

  .product-price {
    .brd {
      border-bottom: 1px solid #eee;
    }

    .bashed {
      margin-bottom: 7px;
      border-top: 1px dashed #eee;
      border-bottom: 1px dashed #eee;
      padding: 4px 0;
    }
  }

  &.active {
    .card {
      width: 100%;
      margin-right: 0;
      height: 210px;
      padding: 10px 10px 5px;

      .card-img {
        float: left;
        margin-bottom: 50px;
        margin-right: 10px;
        padding: 30px 10px 10px 10px;
      }

      .card-link {
        display: block;
        font-size: 18px;
      }

      .card-model-yet {
        display: inline-block;
        padding-left: 10px;

        .bold.black {
          display: inline-block;
          margin-right: 5px;
        }

        .brb {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
            color: #444444;
          }
        }

        .yet-box {
          position: relative;
          display: inline-block;

          .black {
            text-decoration: underline;

            &:hover {
              color: #444444;
              text-decoration: none;
            }
          }

          .card-model-open {
            display: none;
          }

          &:hover {
            .card-model-open {
              display: block;
              position: absolute;
              right: 0;
              top: 100%;
              border: 1px solid #ccc;
              background: #FDFDFD;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
              padding: 10px 15px;
              z-index: 99;
              border-radius: 3px;
              min-width: 210px;
              text-align: left;
              font-size: 12px;

              .bold {
                text-decoration: underline;

                &:hover {
                  text-decoration: none;
                  color: #444444;
                }
              }
            }
          }
        }
      }

      .card-model {
        display: none;
      }
    }

    .product-price {
      .bashed {
        position: absolute;
        top: 5px;
        right: 10px;
        border: 0;
      }

      .brd {
        border-bottom: 0;
        font-size: 13px;
      }
    }
  }
}

.card-model {
  position: relative;

  &:hover {
    .card-model-open {
      display: block;
    }
  }

  .bold {
    &:hover {
      text-decoration: none;
      color: #444444;
    }
  }

  .card-model-open {
    position: absolute;
    left: 0;
    bottom: 100%;
    border: 1px solid #ccc;
    background: #FDFDFD;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    z-index: 99;
    border-radius: 3px;
    min-width: 150px;
    text-align: left;
    font-size: 12px;
    display: none;

    .grey {
      &:hover {
        text-decoration: none;
        color: #444444;
      }
    }

    .brb {
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 5px;

      &:hover {
        text-decoration: none;
      }
    }

    .bold {
      text-decoration: underline;
    }
  }
}

.product-id {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  background: #e4e4e4;
  padding: 5px;
  border-radius: 0 0 3px 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.38);
  color: #8C8C8C;
}

.subtextH3 {
  a {
    color: #1070A3;
    border-bottom: 1px dashed;
    &:hover {
      color: #222222;
      border-bottom: 0;
      text-decoration: none;
    }
  }
}

.subcategories-card {
  display: flex;
  flex-wrap: wrap;
  .card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    height: 160px;
    transition: 150ms;
    margin: 0 1.25% 10px 0;
    width: 19%;
    &:nth-child(5n+5) {
      margin-right: 0;
    }
    &:hover {
      border-color: #999;
      .special-text {
        text-decoration: none;
      }
    }
    .card-img {
      width: 80px;
    }
    .special-text {
      text-decoration: underline;
      color: #1B1B1B;
    }
  }
}

.category-tag {
  display: flex;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 15px;
  .h4 {
    margin-bottom: 16px;
    width: 100%;
  }
}
.category-tag-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-tag-li {
  display: inline-block;
  margin-bottom: 5px;
}
.category-tag-link li {
  display: inline-block;
  margin-bottom: 5px;
}
.category-tag-link {
  color: #444;
  text-decoration: underline;
  margin-right: 10px;
  margin-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: #444444;
  }
  .fa-angle-double-right {
    margin-right: 5px;
  }
}
.wrap-pagination {
  display: block;
}
.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  .pagination-li {
    display: inline-block;
    padding: 5px 4px 5px 0;
  }
  .pag-link {
    display: inline-block;
    width: 40px;
    border: 1px solid #aaa;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    color: #959595;
    transition: 0.1s;
    &.active {
      border-color: #555;
      background: #FaFaFa;
    }
    &:hover {
      border-color: #555;
      background: #FaFaFa;
    }
  }
}
.sort-imgLink {
  display: block;
  margin: 15px 0;
  margin-left: 300px;
}
// cataloge -

// production +
.production-li {
  &:before {
    content: "\f105";
    margin-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
  }
}
.production-ul {
  list-style: none;
}
.wrap-production-ul {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.wrap-production {
  margin-bottom: 50px;
}
.production-link {
  color: #323232;
  text-decoration: underline;
  line-height: 1.6;
  &:hover {
    color: #323232;
    text-decoration: none;
  }
}
.manufacturer-name {
  border-color: #f8f8f8;
  background: #f8f8f8;
  color: #444;
  padding: 3px 6px;
}
.manufacturer-link {
  color: #ff0000;
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    color: #ff0000;
  }
}
.manufacturer-ul {
  padding: 5px 0 5px 40px;
  margin: 0;
}
.manufacturer-li {
  margin-bottom: 10px;
}
.manufacturer-pointer {
  margin-bottom: 40px;
}
.manufacturer-pointer-lef {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
.manufacturer-pointer-alphabet {
  display: inline-block;
  max-width: 330px;
  width: 100%;
  vertical-align: top;
  .manufacturer-link {
    margin-bottom: 10px;
    display: inline-block;
  }
}
// production -

// work +
.table-work {
  position: relative;
  display: block;
  margin-bottom: 20px;
  overflow-x: auto;
  width: 100%;
  table {
    p {
      margin-bottom: 0;
    }
    a {
      color: #1070A3;
      text-decoration: underline;
      &:hover {
        color: #222;
        text-decoration: none;
      }
    }
  }
}
.articles-list {
  a {
    color: #1070A3;
    text-decoration: underline;
    line-height: 1.6;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
}
.work-seti {
  margin-bottom: 30px;
  .text {
    margin-bottom: 5px;
  }
  #uLogin {
    margin-left: 15px;
  }
}
// work -
.dashed {
  border-bottom: 1px dashed;
}
  // payment-delivery +
.payment-link-img {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  img {
    width: auto;
  }
}
// payment-delivery -

// contact +
.contact-info-box {
  margin-bottom: 15px;
  a {
    text-decoration: none;
  }
}
.map {
  margin-top: 35px;
  margin-bottom: 20px;
  width: 100%;
}
// contact -

//owl-slider +
.owl-carousel {

  .owl-nav {
    position: absolute;
    width: calc(100% + 100px);
    top: calc(50% - 40px);
    margin-left: -50px;

    button {
      position: absolute;
      top: 0;
      height: 80px;
      width: 40px;

      span {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        border-left: 3px solid #808080;
        border-bottom: 3px solid #808080;
      }
    }

    .owl-prev {
      left: 0;

      &:before {
        transform: rotate(45deg);
      }

      &:hover {
        &:before {
          content: '';
          border-left: 3px solid #000;
          border-bottom: 3px solid #000;
        }
      }
    }

    .owl-next {
      right: 0;

      &:before {
        transform: rotate(-135deg);
      }

      &:hover {
        &:before {
          content: '';
          border-left: 3px solid #000;
          border-bottom: 3px solid #000;
        }
      }
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      border-radius: 20px;
      background: #869791;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}

//owl-slider -
.xlNone {
  display: none;
}

// content -

@media screen and (max-width: 1300px) {
  .earlier {
    .owl-nav {
      display: none;
    }
  }

}

@media screen and (max-width: 1200px) {
  .indent {
    max-width: 970px;
  }
  .phone-h .phone {
    font-size: 18px;
  }
  .specialOffer {
    padding-left: 0;
  }
  .goods-link {
    display: none;

    &.mob {
      display: inline-block;
      width: 48%;
    }
  }
  .description, .main-param {
    h3.mobClick {
      position: relative;
      padding: 10px 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 7px;
      background: transparent;
      width: 100%;

      &:before {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: 99%;
        background-image: url(../img/arrowdown.png);
        width: 24px;
        height: 13px;
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .propertyAccord {
    display: block;
    overflow: auto;
  }
  .propertyTab {
    display: none;
  }
  .owl-carousel .owl-nav {
    bottom: -10px;
    width: 100%;
    text-align: right;
    top: auto;
    margin-left: -10px;

    button.owl-prev, button.owl-next {
      position: relative;
      top: 0;
      height: 40px;
      width: 40px;
      border: 1px solid #ddd;
      background: #eee;
      border-radius: 4px;
      margin-left: 10px;

      &:before {
        width: 12px;
        height: 12px;
        border-left: 2px solid #000000;
        border-bottom: 2px solid #000000;
      }
    }
  }
  .fancyBox-min {
    width: 100%;
    order: 2;

    .fancybox {
      width: 18%;
      display: inline-block;
    }
  }
  .fancyBox-max {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
    text-align: center;

    .fancybox {
      width: 83%;
      display: inline-block;
    }
  }
  .lgNon {
    display: none;
  }
  .card-brand {
    .propertyTab {
      display: block;
    }
  }
  .sort {
    width: 100%;
    h3 {
      margin-left: 0;
    }
    .subtextH3 {
      margin-left: 0;
    }
  }
  .sidebar {
    position: relative;
    width: 100%;
    padding: 0;
    border: 0;
    margin-right: 0;
    background-color: #ffffff;
    top: 0;
    margin-bottom: 15px;
    .sidebarForm {
      display: none;
      margin-bottom: 20px;
    }
  }
  .wrap-slider-range .slider-range input {
    width: 46%;
  }
  .checkboxLabel {
    input {
      width: 20px;
      height: 20px;
    }
  }
  .wrap-slider-range {
    margin-bottom: 20px;
    .ui-slider-handle {
      width: 20px;
      height: 30px;
      top: -12px;
    }
    .slider-range {
      margin-bottom: 20px;
    }
    .ui-widget.ui-widget-content {
      margin: 0 12px;
    }
  }
  .sidebarBtn-click {
    display: block;
  }
  .breadCrumb {
    margin-left: 0;
  }
  .fastKons {
    margin-left: 0;
  }
  .sortNav {
    margin-left: 0;
  }
  .category-description {
    margin-left: 0;
  }
  .wrap-pagination {
    display: block;
    margin-left: 0;
  }
  .subcategories-card {
    margin-left: 0;
    .card {
      position: relative;
      height: auto;
      width: 32%;
      margin-right: 2%;
      text-align: left;
      &:after {
        content: "\f105";
        font: normal normal normal 19px/1 FontAwesome;
        padding: 3px 0 3px 2px;
        position: absolute;
        right: 10px;
        top: 18px;
        background: #eee;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 25px;
      }
      &:nth-child(5n+5) {
        margin-right: 2%;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      .card-img {
        width: 40px;
        vertical-align: middle;
        margin-right: 5px;
      }
      .special-text {
        vertical-align: middle;
        display: inline-block;
        width: calc(100% - 50px);
      }
    }
  }
  .category-tag {
    margin-left: 0;
  }
  .sort-card {
    margin-left: 0;
  }
  .sort-imgLink {
    margin-left: 0;
  }
  .manufacturer-pointer-lef {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 992px) {
  .indent {
    max-width: 750px;
    padding: 0 15px;
  }
  .hamburger {
    display: block;
  }
  .menuPage {
    width: 250px;
    position: absolute;
    display: none;
    z-index: 20;
    right: -3px;
    top: 84px;
    border-radius: 3px;
    margin-right: 0;

    &:after {
      content: '';
      height: 20px;
      width: 20px;
      right: 5px;
      left: auto;
      bottom: auto;
      top: -10px;
      border-radius: 4px 0;
      transform: rotate(45deg);
      background-color: #1cc43c;
    }

    &.open {
      display: block;
      padding: 10px 20px;
    }
  }
  .header-top {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
  }
  .hamburger {
    display: block;
    padding: 0;
    margin-left: 10px;
  }
  .region {
    width: 40%;
  }
  .box-logo {
    width: 200px;
    margin-right: 10px;
  }
  .phone-h .phone {
    font-size: 14px;
  }
  .hamburger-box {
    width: 25px;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 25px;
  }
  .email-ic {
    display: none;
  }
  .box-logo .email-h {
    margin-left: 15px;
  }
  .wrapMenu {
    order: 2;
    margin-top: 10px;
  }
  .search-h {
    order: 1;
    width: 100%;
    padding: 0;
  }
  .basket {
    order: 3;
    margin-top: 10px;
    margin-left: 15px;
  }
  .headerFixed-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menuPage-link {
    margin: 5px 0;
  }
  .menuPage-box {
    width: 100%;
  }
  .menu-open {
    width: 230px;
  }
  .specialOffer-lef {
    width: 100%;
    order: 2;
  }
  .adv-link {
    span.bold {
      display: block;
    }
  }
  .wrap-adv {
    padding: 10px 0;
    width: 35%;
  }
  .specialOffer-rig {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  .wrap-h {
    width: 100%;
    margin-left: 0;
  }
  header {
    height: 198px;
  }
  .category-box {
    width: 100%;
    margin-right: 0;
  }
  .card-img {
    width: 50%;
  }
  .owl-model {
    width: auto;
  }
  .owl-carousel .owl-nav {
    margin-left: 0;
  }
  .maxCard-info {
    width: 59%;
  }
  .fancyBox-lef {
    width: 41%;
  }
  .analoguesBtn {
    width: 100%;

    .fa-balance-scale {
      display: inline-block;
    }
  }
  .plNon {
    display: none;
  }
  .maxCard-minInf {
    .print {
      display: none;
    }
  }
  .card-brand {
    .productMin {
      width: 100%;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
    }

    .productMin-price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .fastKons {
      .col-md-6 {
        width: 100%;
        min-width: 100%;

        &.mb {
          margin-bottom: 10px;
        }
      }
    }

    .analoguesBtn {
      .fa-balance-scale {
        display: none;
      }
    }
  }
  .spareParts-text {
    width: calc(100% - 60px);
  }
  .spareParts-price {
    margin-right: 0;
    font-weight: normal;
    padding-left: 60px;
    color: #8A8A8A;
    font-size: 12px;
  }
  .sort-card{
    .card {
      width: 49%;
      margin-bottom: 10px;
    }
  }
  .subcategories-card {
    .card {
      width: 49%;
      &:nth-child(5n+5) {
        margin-right: 2%;
      }
      &:nth-child(3n+3) {
        margin-right: 2%;
      }
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
  }
  .pagination {
    .pag-link {
      width: 52px;
      padding: 12px 0;
      &.active {
        background: #00b642;
        color: #fff;
        border: 1px solid #00b642;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .indent {
    max-width: 750px;
  }
  .phone-h {
    width: 130px;
    order: 4;

    .phone {
      margin-left: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .region {
    order: 3;
    width: calc(100% - 140px);
  }
  .box-logo {
    width: 170px;
    order: 1;
    margin-bottom: 14px;

    &:after {
      content: '';
      position: absolute;
      border-bottom: 1px dashed;
      border-color: #cccccc;
      top: 71px;
      left: 0;
      width: 100%;
    }

    .email-h {
      margin-left: 0;

      .email-ic {
        display: none;
      }
    }
  }
  .hamburger {
    order: 2;
  }
  .mobNone {
    display: none;
  }
  .search-h .search {
    .searchBtn {
      padding: 10px;
      width: 35px;
    }

    .search-ic {
      margin-left: auto;
      left: 0;
      right: 0;
    }
  }
  .search input {
    width: calc(100% - 35px);
  }
  .menuPage {
    top: 75px;

    &:after {
      height: 14px;
      width: 14px;
      right: 5px;
      top: -7px;
    }
  }
  .basket {
    position: absolute;
    top: -123px;
    right: 70px;
    margin: 0;
    width: auto;
  }
  .basket-text {
    .title {
      display: none;
    }

    .link {
      position: absolute;
      top: -5px;
      left: 5px;
      margin: auto;
      color: #fff;
      background: rgba(252, 22, 82, 0.62);
      border-radius: 100%;
      min-width: 23px;
      height: 23px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 3px;
      text-align: center;
      text-decoration: none;

      span {
        display: none;
      }
    }
  }
  .basket-img {
    margin-right: 0;
    width: 30px;
  }
  .wrapMenu {
    width: 100%;
  }
  .menu-open {
    width: 100%;
    margin-top: 0;
  }
  .wrap-adv {
    width: 300px;
    margin-left: 8%;
  }
  header {
    height: 256px;
  }
  .earlier {
    margin-bottom: 20px;
  }
  .maxCard-info {
    width: 100%;
    padding-left: 0;
  }
  .fancyBox-lef {
    width: 100%;
    margin-bottom: 15px;
  }
  .fancyBox-max .fancybox {
    width: 270px;
  }
  .fancyBox-min .fancybox {
    width: 50px;
  }
  .compareProducts-box {
    width: 49%;

    .card-img {
      float: none;
      border: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    .card-link {
      display: block;
      width: 100%;
    }

    .card {
      text-align: center;
    }
  }
  .compareProducts-checkbox .checkbox label .text {
    margin-right: 10px;
  }
  .card-brand {
    .productMin-price {
      flex-direction: column;

      .price-text {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 30px;
      }
    }

    .maxCard-btn {
      .addHov {
        margin-bottom: 10px;
      }
    }

    .property-link {
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 7px;
      margin-bottom: 15px;
      width: 100%;
      font-size: 16px;

      .dotted {
        background: url(../img/arrowdown.png) no-repeat right;
        width: calc(100% - 21px);
        display: inline-block;
        border-bottom: 0;
      }
    }

    .property__content {
      &.active {
        border: 0;
        padding: 10px 0 0;
        border-top: 1px solid #dddddd;
      }
    }

    .spareParts {
      padding: 5px 58px 5px 5px;
    }

    .col-pd5 {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
      flex: 100%;
    }
  }
  .form-basket-line .basket-line-name {
    top: 0;
    text-align: left;
    margin-bottom: 5px;
  }
  .basket-lef-bord {
    h3 {
      font-size: 18px;
    }
  }
  .sort-card{
    .card {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      .card-img {
        float: none;
        border: 0;
      }
      .cardBtn {
        position: relative;
        bottom: 0;
        width: 100%;
        margin: 10px 0;
        z-index: 1;
      }
      .card-link {
        width: 100%;
      }
    }
    .product-price {
      .brd {
        line-height: 2;
      }
      .bashed {
        .fs21 {
          font-size: 24px;
        }
      }
    }
  }
  .sortNav {
    background-color: transparent;
    .sortNav-btn {
      display: none;
    }
    .sortNav-prise {
      width: 100%;
    }
    .sortNav-rig {
      margin-right: 0;
      float: none;
      position: relative;
      top: 0;
      margin-top: 10px;
    }
  }
  .subcategories-card {
    .card {
      width: 100%;
      margin-right: 0;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
  .pagination .pag-link {
    width: 38px;
  }
  .category-description {
    overflow: auto;
  }
  .table-work {
    table {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 640px) {

  .offerCard.flex-dc-ac-jb {
    display: block;
    height: auto;
    width: 100%;
    margin-right: 0;
    padding: 10px 0;
    border: 0;
  }
  .offerCard-tit {
    height: 20px;
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 69%;

  }
  .offerCard-img {
    padding: 5px;
    width: 75px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  .offerCard-price {
    margin-right: 0;
    padding: 0;
    display: block;
    width: auto;
  }
  .offerCard-price-text {
    margin-bottom: 6px;
  }
  .category-card {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .card-img {
    width: 75px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .card-link {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 69%;
    overflow: hidden;
  }
  .earlier {
    .card-img {
      float: none;
      width: 50%;
      border: none;
      margin: 0;
      display: inline-block;
    }

    .card {
      text-align: center;
    }

    .card-link {
      width: 100%;
    }
  }
  .owl-compare .special-text {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 1px 5px;
  }
  .owl-compare .card {
    border: 0;
    padding: 5px;

    .card-link {
      width: calc(100% - 85px);
    }
  }
  .parameterMob-open-btn {
    .btn {
      margin-bottom: 10px;
    }
  }
  .basket-divTable {
    .divTable-title {
      display: none;
    }

    .divTable-card {
      flex-wrap: wrap;
      border: 1px solid #ccc;
      border-radius: 3px;
      position: relative;
      margin-bottom: 15px;
    }

    .divTable-box {
      width: 100%;
      text-align: center;

      .divTable-img {
        width: 130px;
        display: inline-block;
      }

      .divTable-price {
        font-weight: 700;
        font-size: 21px;
        color: #5F5F5F;

        .xlNone {
          display: inline-block;
          margin-right: 30px;
          font-weight: normal;
        }
      }

      .numberInp {
        width: 100%;
        justify-content: center;

        input {
          width: 46%;
        }
      }

      .divTable-name {
        a {
          display: inline-block;
          color: #0385e1;
          font-size: 19px;
        }

        .cod {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          background: #e4e4e4;
          padding: 5px;
          border-radius: 0 0 3px 0;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.38);
          color: #8C8C8C;

          .xlNone {
            display: inline-block;
          }
        }
      }

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
        text-align: center;
      }

      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(6) {
        display: none;
      }
    }

    .basket-rig-prise {
      &.xlNone {
        display: block;
      }
    }
  }
  .basket-rig-prise {
    .bold {
      margin-left: 0;
      width: 200px;
    }
  }

}

@media screen and (max-width: 480px) {
  .earlier {
    .card-link {
      white-space: normal;
      overflow: auto;
    }
  }
  .compareProducts-box .card-img {
    width: 100%;
  }
  .parameterMob-name {
    width: 49%;
  }
  .basket-rig-prise {
    .bold {
      margin-left: 0;
      width: 100px;
    }
  }
  .delivery-box .inp {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}



.page-table {
  width: 100%;

  td {
    a {
      display: block;
      padding: 5px 10px;
    }
  }

  tr {
    &:hover {
      background-color: #cccccc;
    }
  }
}
















































